# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# PyCharm
.idea/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
